*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.info{
    background-color: rgb(171, 171, 231);
    border-left: 3px  solid blue;
    padding: 10px;
    margin-top: 20px;
}
.Warning{
    background-color: rgb(190, 163, 163);
    border-left: 3px  solid brown;
    padding: 10px;
    margin-top: 20px;
}
