.main{
    width: 100%;
    height:100vh;
}
.top{
    width: 100%;
    height: 100px;
    background-color: aqua;
}
.left{
    width: 60%;
    height: 100%;
    background-color: blanchedalmond;
    display: inline-block;
}
.right{
    width:40%;
    height: 100%;
    background-color: blueviolet;
    float: right;
}