*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    padding: 30px;
    margin-inline: auto;
    
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}